body {
    font-family: 'Source Sans Pro', sans-serif;
}

.topo {
    background-color: rgb(91, 136, 138);
    border: 15px solid rgb(91, 136, 138);
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
}

.topo a {
    text-decoration: none;
}
.topo div {
    position: absolute;
    right: 3%;
}

.principal {
    font-size: 22px;
    color: black;
    line-height: 5px;
    position: absolute;
    left: 2%;
    bottom: 5px;
}

.principal span {
    color: rgb(255, 230, 4);
    padding: 2px;
}

.link-topo {
    color: black;
    padding: 20px;

}

.sobre .imagem-fundo {
    background-image: url('/assets/img-fundo.jpg');
    width: 100%;
}

.sobre .titulo {
    margin: 30px;
    padding-top: 120px;
    box-shadow: inset;
}

.centralizado {
    text-align: center;
}

.maiusculo {
    text-transform: uppercase;
}
